<div>
  <h2>Algemene informatie</h2>
</div>
<div>
  <h3>Wil je iets leuks vertellen of een speech geven?</h3>
  <p class="text-center">Ga naar de pagina 'contact' en bespreek dit eerst met de ceremoniemeesters!</p>
</div>
<div>
  <h3>Cadeauwensen</h3>
  <p class="text-center">Cadeaus zijn gebruikelijk op een bruiloft maar het voelt gek om het zo neer te zetten.
    Tegen verspilling van onnodige cadeaus dan maar:
    Wij gaan een maand op huwelijksreis naar het prachtige Noorwegen.
  Met een camper. Dat blijft onze grootste wens. Een (financiële) bijdrage hieraan is voor ons het fijnste cadeau!</p>
</div>
<h3>Dresscode voor de bruiloft</h3>
<div class="grid column-gap-4">
  <div class="col text-left">
    <h3>Voor de vrouwen</h3>
    <p>Oei dat wordt lastig... Twijfel twijfel. Om jullie een beetje te helpen:
      Dames kunnen kiezen voor een jurk (kort of lang), pak of chique jumpsuit.
      Over de kleur: kies een kleur die past bij het seizoen en waar jij je goed in voelt.
      Dames maken de look vaak compleet met een paar pumps en leuke
      accessoires!</p>
  </div>
  <div class="col text-right">
    <h3>Voor de heren</h3>
    <p>Doe een beetje je best. Geen spijkerbroeken.
      Het liefst een nette katoenen broek of een chino. Een mooi overhemd & colbert (met of zonder) gilet maakt de look af.
      Mannen dragen hier nette schoenen bij.
      Je kan je look afmaken met bijvoorbeeld bretels en een mooi horloge.</p>
  </div>
</div>



