@font-face {
  font-family: 'SulphurPoint';
  src: url(/../assets/sulphur_point/SulphurPoint-Regular.ttf) format("truetype");
  font-weight:300;
}
@font-face {
  font-family: 'AmaticSC';
  src: url(/../assets/amatic_sc/AmaticSC-Regular.ttf) format("truetype");
  font-weight:300;
}

.header {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.header.is-geen-telefoon {
  width: 40rem;
}

.title {
  font-family: "AmaticSC", serif;
  color: #5e8558;
  margin-top: 2rem;
  text-align: center;
}

.page {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.page.is-geen-telefoon {
  width: 40rem;
}

.img-wrapper {
  overflow: hidden;
}

.img-wrapper.is-geen-telefoon {
  padding-left: 12rem;
  padding-right: 12rem;
}

.footer-wrapper {
  width: 100%;
  bottom: 0;
  display: block;
  text-align: center;
  background: radial-gradient(transparent 20%, white 70%);
  padding-top: 10px;
}

.footer-img {
  margin: 0 auto !important;
  display: block;
  width: 100%;
}

img {
  text-align: center;
}
