<div class="header" [ngClass]="{'is-geen-telefoon': !isPhonePortrait}">
  <h1 >{{title}}</h1>
  <button class="float-end" mat-raised-button href="javascript:void(0);" (click)="logout()" *ngIf="getLoggedIn()">
    Logout
  </button>
</div>
<div class="header" [ngClass]="{'is-geen-telefoon': !isPhonePortrait}" *ngIf="getLoggedIn()">
  <ngbd-nav-basic></ngbd-nav-basic>
</div>
<div class="img-wrapper" [ngClass]="{'is-geen-telefoon': !isPhonePortrait}">
  <img src="assets/thumbnail_Snoorwegen-samen-cropped.jpg" alt="noorwegen" style="width:100%;">
</div>

<div class="page" [ngClass]="{'is-geen-telefoon': !isPhonePortrait}">
  <router-outlet></router-outlet>
  <div class="footer-wrapper" >
    <img class="footer-img" src="assets/footer.png" alt="footer">
  </div>
</div>
