<div class="text-center">
  <h2>Contactgegevens Ceremoniemeesters</h2>

  <div>
    <p>Hieronder vind je de contactgegevens van onze ceremoniemeesters, sla deze gegevens vast op in je telefoon.
    </p>
    <p>
      Heb je een praktische vraag over de locatie of planning?</p>
    <p>
      Wil je een speech geven?
    </p>
    <p>
      Twijfel je over je outfit?
    </p>
    <p>
      Schroom niet en stuur ze een bericht!
    </p>
  </div>
  <br>
  <div class="grid">
    <div class="col">
      <p>De heer Wouter Bouman</p>
      <p>06-.....</p>
      <p>email@wouter.nl</p>
    </div>
    <div class="col">
      <p>Mevrouw Meeke Ummels</p>
      <p>06-.....</p>
      <p>email@meeke.nl</p>
    </div>
  </div>
</div>
