<div class="text-center pt-2">
  <h2>Programma</h2>
</div>
<div class="text-center">
  <div *ngIf="toonInfoDag">
    <p>13:30 uur - Aankomst op de Pollepleats</p>
    <p>14:00 uur - Verzamelen voor de ceremonie</p>
    <p>14:30 uur - Ceremonie</p>
    <p>15:00 uur - Proosten, taart, foto's maken & gezellig samenzijn</p>
    <p>17:15 uur - Klaarmaken en alvast aan tafel</p>
    <p>17:30 uur - Diner</p>
    <p>20:00 uur - Het begin van de grootste party van 2023</p>
  </div>
  <div *ngIf="toonInfoAvond">
    <p>19:30 uur - Ontvangst</p>
    <p>20:00 uur - Beginnen met de grootste party van 2023</p>
  </div>
</div>
