<div>
  <h2>Dresscode voor de bruiloft</h2>
  <h3>Smart casuel</h3>
  <div class="dresscode-vrouwen">
    <h4 class="dresscode-vrouwen">Voor de vrouwen</h4>
    <p class="dresscode-vrouwen">Hier mogen de dames kiezen voor een jurk, pakje of chique jumpsuit.
      Ook ideaal is een nette broek of rok met een jasje of een fancy blouse,
      maar haar favorite dress mag natuurlijk ook! Dames maken de look vaak compleet met een mooi paar pumps en leuke
      accessoires!</p>
  </div>
  <div class="dresscode-mannen">
    <h4 class="dresscode-mannen">Voor de mannen</h4>
    <p class="dresscode-mannen">Heren dragen een broek in combinatie met bijvoorbeeld een blazer.
      Het liefst een nette katoenen broek of een chino. Jasjes zijn geen must,
      maar een mooi gedetailleerd colbert maakt de look wel af.
      Mannen dragen er vaak een leuke hippe blouse bij met nette schoenen
      of loafers en maken hun bruiloft outfit af met bretels of een mooi horloge.</p>
  </div>
</div>



