<h1>Overnachting</h1>
<div class="text-center" *ngIf="toonInfoFamilie">
  <p>Er is voor familie een mogelijkheid om te blijven slapen bij de locatie.
    <br>
    Dit bieden wij jullie aan op onze kosten.
    <br>
    Zouden jullie meteen even willen aangeven op het formulier 'ik ben erbij' of jullie hier gebruik van
  willen maken? Anders stellen we jullie kamers beschikbaar aan onze vrienden;)
    <br>
    Het feest duurt tot in de vroege uurtjes en de kamers zijn in hetzelfde gebouw als het feest.
    </p>
</div>
<div *ngIf="toonInfoOverig">
  <p>Er is een mogelijkheid om te blijven slapen bij de locatie.
    <br>
    Wij horen graag via het inschrijfformulier op de pagina 'ik ben erbij' of je hier gebruik van wilt maken.
  De kosten voor de overnachting zijn €50,- per persoon. Brunch en chillings op de zondag tot 15:00 is hierbij inbegrepen.</p>
</div>
<p>Wellicht leuk om te weten: wij hebben de accommodatie gereserveerd tot zondag laat
in de middag, dus wij kunnen samen lekker bijkomen van het feest. Inclusief een relaxte brunch!</p>
