@font-face {
  font-family: 'SulphurPoint';
  src: url(/assets/sulphur_point/SulphurPoint-Regular.ttf) format("truetype");
  font-weight:300;
}
@font-face {
  font-family: 'AmaticSC';
  src: url(/assets/amatic_sc/AmaticSC-Regular.ttf) format("truetype");
  font-weight:300;
}

h1 {
  color: #369;
  font-family: "AmaticSC", serif;
  text-align: center;

}
h2, h3 {
  color: #444;
  font-family: AmaticSC, sans-serif;
  font-weight: lighter;
}
p {
  font-family: SulphurPoint, serif;
}
a {
  font-family: AmaticSC, sans-serif;
  font-weight: bold;
  color: #525252;
  text-decoration: none;
}
body {
  margin: 2em;
}
body, input[type="text"], button {
  color: #333;
  font-family: Cambria, Georgia, serif;
}
button {
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  font-size: 1.2rem;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
button:hover {
  background-color: black;
  color: white;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

a {
  text-decoration: none;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
