<h2 class="text-center">Locatie van de bruiloft</h2>

<div>
  <div>
    <img class="img-pollepleats" src="assets/aanzicht-polleplaets.jpg" alt="Pollepleats"/>
  </div>
  <div>
    <p>De Pollepleats</p>
    <p>De kat 20</p>
    <p>8616 LB Westhem</p>
  </div>
</div>

<div>
  <a target="_blank" href="https://www.google.nl/maps/place/Pollepleats/@53.0111999,5.5385846,17z/data=!3m1!4b1!4m8!3m7!1s0x47c8eeafa0c5795f:0x89d4820d5c738d87!5m2!4m1!1i2!8m2!3d53.0112933!4d5.5408129">
    <img class="img-maps" src="assets/pollepleats_maps.png" alt="Klik om maps te openen">
  </a>
</div>
