<div class="grid">
  <div class="col text-center">
    <a routerLink="/home">Home</a>
  </div>
  <div class="col text-center">
    <a routerLink="/programma-dag">Programma</a>
  </div>
  <div class="col text-center">
    <a routerLink="/overnachting-fam">Overnachting</a>
  </div>
  <div class="col text-center">
    <a routerLink="/locatie">Locatie</a>
  </div>
  <div class="col text-center">
    <a routerLink="/dresscode">FAQ</a>
  </div>
  <div class="col text-center">
    <a routerLink="/rsvp">Ik ben erbij! </a>
  </div>
  <div class="col text-center">
    <a routerLink="/contact">Contact</a>
  </div>
</div>

