<div class="grid">
  <!--  <ul ngbNav #nav="ngbNav" class="nav-tabs testLink">-->
  <div class="col text-center">
    <a routerLink="/home">Home</a>
  </div>
  <div class="col text-center">
    <a routerLink="/programma-dag">Programma</a>
  </div>
  <div class="col text-center">
    <a routerLink="/overnachting-fam">Overnachting</a>
  </div>
  <div class="col text-center">
    <a routerLink="/locatie">Locatie</a>
  </div>
  <div class="col text-center">
    <a routerLink="/dresscode">Dresscode</a>
  </div>
  <div class="col text-center">
    <a routerLink="/dieetwensen">Ik ben erbij!</a>
  </div>
  <div class="col text-center">
    <a routerLink="/contact">Contact</a>
  </div>
  <!--  </ul>-->
</div>


<!--<ul ngbNav #nav="ngbNav" class="nav-tabs">-->
<!--  <li [ngbNavItem]="1">-->
<!--    <a ngbNavLink routerLink="/dashboard">Dashboard </a>-->
<!--  </li>-->
<!--  <li [ngbNavItem]="2">-->
<!--    <a ngbNavLink routerLink="/Locatie">Locatie </a>-->
<!--  </li>-->
<!--  <li [ngbNavItem]="3">-->
<!--    <a ngbNavLink routerLink="/dresscode">Dresscode</a>-->
<!--  </li>-->
<!--  <li [ngbNavItem]="4">-->
<!--    <a ngbNavLink (click)="openDieetwensenPagina(gast)">Dieetwensen</a>-->
<!--  </li>-->
<!--</ul>-->
<!--<div [ngbNavOutlet]="nav" class="mt-2"></div>-->
