<h2>Knijp maar in je handen want je bent uitgenodigd op onze bruiloft!</h2>
<p>
  Zaterdag 29 april is de grote dag. Romantisch maar zeker ook een feestelijke aangelegenheid.
</p>
<p>
  Op deze website vindt je alle informatie over de bruiloft die je nodig hebt.
</p>
<p>
  Mocht je onverhoopt toch nog een vraag hebben, kijk in de FAQ of neem contact op met onze ceremoniemeesters.
</p>
<p>
<p>
  Voor ons is het fijn om te weten of je aanwezig bent en of je bijvoorbeeld blijft slapen.
  <br>
  Je kan je aanmelden op het tabblad 'Ik ben erbij'. Begin daar maar eens mee ;).
</p>
<p>
  Have fun!
</p>
<p>
  Tibor & Kitty
</p>
